services:
  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - content-service
      - redis

  user-service:
    build: ./user-service
    ports:
      - "8001:8000"
    depends_on:
      - redis

  content-service:
    build: ./content-service
    ports:
      - "8002:8000"
    depends_on:
      - rabbitmq
      - redis

  iot-service:
    build: ./iot-service
    ports:
      - "8003:8000"
    depends_on:
      - mqtt-broker
      - nats

  news-service:
    build: ./news-service
    depends_on:
      - rabbitmq
    
  notification-service:
    build: ./notification-fn
    ports:
      - "8006:8000"
    depends_on:
      - redis
  
  analytics-service:
    build: ./analytics-service
    depends_on:
      - nats

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  mqtt-broker:
    image: eclipse-mosquitto
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - "1883:1883"

  nats:
    image: nats:2.10
    ports:
      - "4222:4222"