version: "3.9"

services:
  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - content-service

  user-service:
    build: ./user-service
    depends_on:
      - redis

  content-service:
    build: ./content-service
    depends_on:
      - rabbitmq

  iot-service:
    build: ./iot-service
    depends_on:
      - mqtt-broker

  news-service:
    build: ./news-service

  redis:
    image: redis:7

  rabbitmq:
    image: rabbitmq:3-management

  mqtt-broker:
    image: eclipse-mosquitto
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - "1883:1883"